* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: #d1dff6;
}
#calendar {
  height: 400px;
  width: 300px;
  background: #e4edfc;
  box-shadow: inset 2px 2px 2px rgb(227, 237, 253),
    inset -2px -2px 2px rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
#day {
  margin: 10px;
  height: 40px;
  width: 280px;
  background: #668fff;
  border-radius: 20px;
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}
#month,
#year {
  height: 40px;
  width: 280px;
  display: grid;
  place-items: center;
  font-weight: 700;
  font-size: 17px;
}
#date {
  font-size: 120px;
  width: 280px;
  height: 200px;
  display: grid;
  place-items: center;
  color: #668fff;
  font-weight: 700;
  margin: 0px 10px;
}
