body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #1c0a38;
}

.container {
  height: 100px;
  width: 620px;
  background: #d0d3d4;
  position: relative;
  border-radius: 30px 0px;
}
.progressbar {
  height: 50px;
  width: 500px;
  background: #1c0a38;
  position: absolute;
  bottom: 25px;
  left: 50px;
  border-radius: 40px 0px;
}
.loading {
  height: 30px;
  width: 480px;
  background: #860000;
  position: absolute;
  bottom: 35px;
  left: 60px;
  border-radius: 30px 0px;
  z-index: 1;
  animation: animate 10s linear;
}
@keyframes animate {
  0% {
    border-radius: 30px 0px 0px 0px;
    width: 0px;
  }
  20% {
    border-radius: 30px 0px;
  }
  100% {
    width: 480px;
  }
}
.counter {
  position: absolute;
  right: 13px;
  top: 35px;
  color: #1c0a38;
  font-size: 20px;
  font-weight: 700;
  font-family: sans-serif;
}
.loadingtext {
  height: 19px;
  width: 170px;
  position: absolute;
  bottom: 2px;
  left: 50px;
  color: #1c0a38;
  font-family: sans-serif;
  font-weight: 600;
  animation: animateText 1s linear infinite;
}
@keyframes animateText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
